@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {
  --bg-size: 100% 100% ;
  --main-color: #fff;
  --title:'Josefin Sans', sans-serif;
  --font-para:'David+Libre', serif;
  --btn-color:#bbe1fa;
  --btn-font-color:#000;
  --btn-font:1.5rem;
  --eff: .3s all ease;
 }

 * {
  font-family: var(--font-para);    
 }

 html{
   /*   1 rem= 16 px
     but now due to followin line irem=10px  */
     font-size:62.5%;
 } 
 p,label,input::placeholder{
  font-size: 1.9rem;
  line-height : height 170%; 
  color: #6c757d;
 }

 figure,img,
 .fab,.fas {
     transition: var(--eff);
 }

 a,a:hover {
      text-decoration: none;
      cursor:pointer;
 }

 body{
     /* background: hsl(hue, saturation, lightness); */
     background: hsl(84, 3%, 94%);
 }

.main_heading{
  font-family: var(--title);
  font-weight: bold;
  font-size: 5rem;
  color:#000;
} 

.main_heading__para{
  font-size: 2.1rem;
}

.main_heading__div{
  height: calc(100vh - 40vh) ;
  background-image: linear-gradient(to right, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0)),url('https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg');
  /* background-image: url('https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg'), linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)) ; */
  background-size: var(--bg-size);
}

.main_heading__div p{
  font-weight: bold;
  font-size: 3.5rem;
  font-family: var(--title);
  color: var(--main-color) ;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.main_heading__div h2{
  font-weight: bold;
  font-size: 6.5rem;
  font-family: var(--title);
  color: var(--main-color) ;
  position: relative;
  padding-bottom: 2rem;
  transition: var(--eff);
}

.main_heading__div span{
  font-family: var(--title);
  
}

.animateword div{
  overflow: hidden;
  position: relative;
  float: right;
  height: 8rem;
  padding-top: 1rem ;
  margin-top: -1rem;
}

.animateword div li {
  font-weight: bold;
  padding: 0 1rem;
  height: 4.5rem ;
  margin-bottom:  4.5rem;
  display: block;
  font-family: var(--title);  

}

.flip {
  -webkit-animation: flip6 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite ;
  animation: flip6 10s infinite ;
}

@-webkit-keyframes flip6 {
  0% {
    margin-top: -360PX;
  }

  5% {
    margin-top: -270PX;
  }

  25% {
    margin-top: -270PX;
  }

  30% {
    margin-top: -270PX;
  }

  55% {
    margin-top: -90PX;
  }
  75% {
    margin-top: -90PX;
  }
  80% {
    margin-top: -0PX;
  }
 
  99.99% {
    margin-top: -0PX;
  }

  100% {
    margin-top: -270PX;
  }
}


@keyframes flip6 {
  0% {
    margin-top: -360PX;
  }

  5% {
    margin-top: -270PX;
  }

  25% {
    margin-top: -270PX;
  }

  30% {
    margin-top: -270PX;
  }

  55% {
    margin-top: -90PX;
  }
  75% {
    margin-top: -90PX;
  }
  80% {
    margin-top: -0PX;
  }
 
  99.99% {
    margin-top: -0PX;
  }

  100% {
    margin-top: -270PX;
  }
}

.main_heading__div button,.subs_btn{
 color: var(--btn-font-color);
 border-width: 0;
 font-size: var(--btn-font);
 transition: var(--eff);
 padding: .8rem 3rem;
 background-color: #bbe1fa;
 border-color: var(--btn-color);
 font-family: var(--title);
 outline:none; 
}

.main_heading__div button:hover, figure img:hover,
.left_div__like:hover,
.left_div__reply:hover,
.subs_btn:hover
{
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 3rem -1rem rgba(255,255,255,0.7);
}

/* left side div blog style start */

.blog_left__div h1{
  font-family: var(--title);
  font-weight: bold;
  font-size: 3rem;
 }

 .blog_left__div .blog_title{
  font-weight: 400;
  font-size: 2.2rem;
 }

 .blog_left__div .blog_title span{
  color:#1b262c;
 }

 .blog_left__div span{
  color:#1b262c;
 }

 .left_div_btns{
   margin-top: 3rem;
   transition: var(--eff);
 }
 .left_div__like,.left_div__reply {
  color: var(--btn-font-color);
  font-size: var(--btn-font);
  transition: var(--eff);
  padding: .8rem 3rem;
  background-color: #bbe1fa;
  border-color: var(--btn-color);
  font-family: var(--title);
  outline:none;
  border: none ;    
 }

 .replies {
  margin: 2rem 0;
  padding: 1rem 0;
  transition: var(--eff);
  display: none;
}

.tss_show{
  margin: 20px 0;
  transition: var(--eff);
  display:block;

}

/* right side div style start */

.about_me_div{
  width: auto;
  height: 30rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(to bottom,transparent 50%, rgba(208,206,207,0.7) 50%), url('../images/atul.png') ;
  background-size: var(--bg-size);
}
.about_me_div p:first-child{
  padding-bottom:0.2rem;
  font-size: 2.2rem ;

}
.about_me_div p{
  padding-bottom: 0.1rem;
  font-size: 1.7rem ;
  color:#000 !important;

}

.right_div_title h2{
  font-size: 2.5rem;
  padding-left : 2rem;
}

.right_div_title {
  background: #d0cecf;
  box-shadow: 0 1rem 3rem -1rem rgba(255,255,255,0.7);
 }

 .popular_post__img1{
   background-image: url('../images/bg.jfif');
   background-size: var(--bg-size);
   padding-left: 1rem;
 }
 .popular_post__img2{
  background-image: url('../images/mz.jpg');
  background-size: var(--bg-size);
}
.popular_post__img3{
  background-image: url('../images/zb.jpg');
  background-size: var(--bg-size);
}
.popular_post__img4{
  background-image: url('../images/sj.png');
  background-size: var(--bg-size);
}

.right_sub_div{
  background: #fff;
  padding: 1.5rem 1rem;
}

.right_sub_div .row{
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.right_sub_div .row:last-child{
  margin-bottom: 0;
}

.row > .right_div_post{
  padding-left: 0;
  padding-right: 0;
}

/* tags style */

.tags_main{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(4rem,8rem));
  grid: gap 0.5rem;
}
.tags_main a{
  font-size: 1.7rem;
  line-height: 170%;
  font-weight: lighter;
  background: #6c757d;
  transition: var(--eff);
}
.tags_main a:hover{
  color: var(--btn-font-color);
  background: var(--btn-color);
}

/* advertise style */
.advertise_img{
  min-width: 10rem;
  height: 20rem;
  display:grid ;
  place-items: center;
}
/* left side icons */

.fab {
  color:#000;
}

.fab:hover{
 transform: rotate(360deg); 
 color:blue; 
} 

.right_sub_div #exampleInputEmail {
  padding: 1.5rem 1rem;
  margin : 1.5rem 0;
}

footer {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* resposive code start */





@media(min-width: 250px) and (max-width: 575px) {

  html{
    font-size: 35%;
  }
  .left_div__blog{
    margin:4rem 0;
  }

}

@media(min-width: 576px) and (max-width: 768px) {

  html{
    font-size: 50%;
  }

.main_header h2{
  font-size: 4rem;
}



.animateword div{
  height: 6.5rem;
  padding-top: 1rem ;
  margin-top: -1rem;
}

.animateword div li {
  height: 3.11rem ;
  margin-bottom:  3.11rem;
 
}




  .left_div__blog{
    margin:3rem 0;
  }

}

@media (min-width: 770px) and (max-width:998px)  {
  html{
    font-size: 60%;
  }
  .left_div__blog{
    margin:3rem 0;
  }
  p,label,input::placeholder{
    font-size: 2.2rem;
  } 
  :root{
    --btn-font: 2rem;

  }
  .main_header h2{
    font-size: 4.5rem;
  }
}



